<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>First name:  <input type="text" th:field="*{firstName}" /></p>
    <div style = "color:red"  th:if ="${#fields.hasErrors('firstName')}" th:errors = "*{firstName}">First Name error></div>
    <p>Last name:   <input type="text" th:field="*{lastName}" /></p>
    <div style = "color:red" th:if ="${#fields.hasErrors('lastName')}" th:errors = "*{lastName}"> Last Name error></div>
    <p>Father name: <input type="text" th:field="*{fatherName}" /></p>
    <div style = "color:red" th:if ="${#fields.hasErrors('fatherName')}" th:errors = "*{fatherName}"> Father error></div>
    <p>Age:         <input type="text" th:field="*{age}" /></p>
    <div style = "color:red" th:if ="${#fields.hasErrors('age')}" th:errors = "*{age}"> age error></div>
    <p>Salary:      <input type="text" th:field="*{salary}" /></p>
    <div style = "color:red" th:if ="${#fields.hasErrors('salary')}" th:errors = "*{salary}"> Salary error></div>
    <p>Email:       <input type="text" th:field="*{email}" /></p>
    <div style = "color:red" th:if ="${#fields.hasErrors('email')}" th:errors = "*{email}"> Email error></div>
    <p>Work place:  <input type="text" th:field="*{workPlace}" /></p>
    <div style = "color:red" th:if ="${#fields.hasErrors('workPlace')}" th:errors = "*{workPlace}"> Work place error></div>
    <p><input type="submit" value="Submit" /> </p>
    <p><a href="/home">Back to main Page</a></p>
</form>
</body>
</html>
